.App{
  margin: 16rem;
  position: relative;
  justify-content: center;
  text-align: center;
}

.card-wrapper{
  color: rgb(12, 12, 12);
  border: 2px solid blue;
  border-radius: 5px;
  background-color: linear-gradient(bottom,rgb(121, 187, 187)) ;
  font-size: 1.2rem;
  box-shadow: 
  rgba(5, 108, 126, 0.4) 5px 5px, 
  rgba(20, 139, 155, 0.3) 10px 10px, 
  rgba(37, 156, 172, 0.3) 10px 10px, 
  rgba(75, 218, 243, 0.2) 15px 15px, 
  rgba(70, 181, 196, 0.1) 20px 20px, 
  rgba(150, 226, 240, 0.05) 25px 25px;
  
  height: 40%;
  width: 400px;
}
.icon{
  width: 2.4rem;
}
.header-container{
  display: flex;
  margin:5px
}
.header{
  margin: 3rem;
}

.header-container img{
  border-radius: 50%;
  margin:5px
  
}
 button{
  display: flex;
  margin-left: 8rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: rgb(46, 153, 185);
  height: 3rem;
  width: 9rem;
  color: white;
  border-radius: 2px;
  border: none;
  font-size: larger;

 
 }

 .par-container{
  margin-left: 3rem;
  display: flex;
  gap:1.8rem;
 }
